<div class="col-md-9 container">
  <div class="card-body">
    <table class="table table-hover table-striped " style="border: dimgrey solid" id="table">

      <thead>

      <th>Nom</th>
      <th>action</th>

      </thead>

      <tbody>
      <tr *ngFor="let s of services,index as i">
        <td>{{s.nom}}</td>
        <td>

          <button style="  width: 40px;height: 50px;font-size: 10px" mat-fab color="warn"
                  aria-label="Example icon button with a delete icon" (click)="vidertabService(i);deleteService(s)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg>
          </button>
          <input [(ngModel)]="s.nom" id="up-input" hidden="true">
          <button id="up-btn" hidden="true" (click)="updateService(s)">ok</button>
          <button (click)="setinputDesabled('up-input');setinputDesabled('up-btn')">update</button>

          <input id="in" hidden="true" [(ngModel)]="s.nom">
<!--          <button id="btn" hidden="true" (click)="updateService(s.reference,s.nom)">ok</button>-->
        </td>


      </tr>
      <tr  class="pt-site-footer__submit">
        <td>
      <input type="text" id="input" hidden="true" [(ngModel)]="service.nom">
          <button id="addbtn" hidden="true" (click)="saveService(service)">add</button>
        </td>
       <td><button (click)="setinputDesabled('input');setinputDesabled('addbtn')"> +</button></td>
      </tr></tbody>
    </table>
  </div>




</div>
