<img src="assets/img/Cady_ayyad_university.png"><h4>UNIVERSITE CADI AYYAD PRESIDENCE.</h4>
<h5>Marrakech</h5>
<h6>EXERCICE: {{cmd.exercice}}</h6>
<h6>CHAPITRE: {{cmd.rubrique.ligne.paragraphe.article.chapitre.libelle}}</h6>
<h6>ARTICLE: {{cmd.rubrique.ligne.paragraphe.article.libelle}}</h6>
<h6>PARAGRAPHE: {{cmd.rubrique.ligne.paragraphe.libellePara}}</h6>
<h6>LIGNE: {{cmd.rubrique.ligne.libelle}}</h6>
<h6>NATURE</h6>
<h5>BON DE COMMANDE</h5>
<h6>RAISON SOCIALE: {{cmd.raisonSociale}}</h6>
<h6>ADRESSE: {{cmd.adresse}}</h6>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">OBJET DE LA COMMANDE</th>
      <th scope="col">Quantité</th>
      <th scope="col">P.U HT</th>
      <th scope="col">P.T HT</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of tableauBesoinItem.tableauBesoin.expressionBesoinItems">
      <td>{{e.libelle}}</td>
      <td>{{e.quantite}}</td>
      <td>{{e.pu}}</td>
      <td>{{e.pt}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>TOTAL HT</td>
      <td>{{tableauBesoinItem.ht}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>TVA</td>
      <td>{{tableauBesoinItem.tva}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>TOTAL TTTC</td>
      <td>{{tableauBesoinItem.ttc}}</td>
    </tr>

    </tbody>
  </table>
</div>
<div>
  <button class="btn-danger" >Envoyer</button>
</div>
