<div class="container">
  <div class="row align-items-start ">
    <div class="col">
      <label for="floatingInputInvalid"><code>*Séléctionnez la rubrique</code></label>
      <select class="form-select" aria-label="Default select example">
        <option selected></option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select></div>
    <div class="col">
      <label for="floatingInputInvalid"><code>*Séléctionnez l'éxercice</code></label>
      <select class="form-select" aria-label="Floating label select example">
        <option selected></option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select></div>
    <div class="col">
      <label for="floatingInputInvalid"><code>*Séléctionnez le chapitre</code></label>
      <select class="form-select" aria-label="Default select example">
        <option selected></option>
        <option selected></option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select></div>
  </div>
  <div class="container">
    <div class="row align-items-start mt-4">
      <div class="col">
        <label for="floatingInputInvalid"><code>*Séléctionnez l'article</code></label>
        <select class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></div>
      <div class="col">
        <label for="floatingInputInvalid"><code>*séléctionnez le paragraphe</code></label>
        <select id="floatingInputInvalid" class="form-select" aria-label="Floating label select example">
          <option selected></option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></div>
      <div class="col">
        <label for="floatingInputInvalid"><code>*Séléctionnez la ligne</code></label>
        <select class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select></div>

    </div>
  </div>
</div>
<div class="row align-items-start mt-4">
  <div class="col">

  <div class="form-outline">
    <input value="Adresse"/>
  </div></div>
  <div class="col">

  <div class="form-outline">
    <input value="Raison sociale"/>
  </div>
</div>
</div>

<div>
  <table class="table table-striped" >
    <thead>
    <tr >
      <th scope="col">OBJET DE LA COMMANDE</th>

      <th scope="col">Quantité</th>
      <th scope="col">P.U HT</th>
      <th scope="col">P.T HT</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of reposeSelectionee.tableauBesoin.expressionBesoinItems">
      <td>{{e.libelle}}</td>
      <td>{{e.quantite}}</td>
      <td>{{e.pu}}</td>
      <td></td>
    </tr>
    </tbody>
    <tfoot><button class="btn-warning">ok</button></tfoot>
  </table>
  <mat-divider></mat-divider>
</div>
