.container-fluid{
  /*background: url("src/assets/img/4K-Snow-Desktop-Wallpaper.jpg");*/
  /*background:url("../../../assets/img/background2.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /*background-color: #0f1041;*/
  background: -webkit-linear-gradient(90deg, #dce5dc,#9ea69b,#d9dcd6);/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #dce5dc,#9ea69b,#d9dcd6);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header{
  margin-bottom:60px;
}

.col-md-9{
  height:calc(90vh - 20px);
  border-radius: 10px;
  padding-top: 10px;
  font-size: 15px;
  color: black;
  background-color: rgb(253, 253, 254);
  margin-left: 40px;
  background: #f1f1f1;
}
.col-md-2{
  border-radius: 10px;
}


