<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th scope="col">Designation</th>
    <th scope="col">Quantite</th>

  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let i of ItemsAcceptees">
    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="fonction($event,i)">
    </td>
    <td>
      {{i.libelle}}
    </td>
    <td>
      {{i.quantite}}
    </td>

    <!--    <td>-->
    <!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openTypeFournisseur();getItemsAcceptees()">-->
    <!--        <mat-icon class="icon btn-outline-primary" >bookmark_border</mat-icon>-->
    <!--      </button>-->
    <!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
    <!--        <mat-icon class=" btn-outline-danger" (click)="archiver(e);update(e)">delete_outline</mat-icon>-->
    <!--      </button>-->
    <!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
    <!--        <mat-icon class="btn-outline-success" (click)="openDialog2()">description</mat-icon>-->
    <!--      </button>-->
    <!--    </td>-->
  </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>
<!--<button mat-flat-button mat-dialog-close style="color:darkred " (click)="navigate('tf')">Retour</button>-->
<button mat-raised-button mat-dialog-close style="background-color: #f39c12" (click)="navigate('tf')">Prochain</button>
