<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th scope="col">Désignations</th>
    <th scope="col">Quantités</th>

  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let i of ItemsSuprimees">
    <td>
    </td>
    <td>
      {{i.libelle}}
    </td>
    <td>
      {{i.quantite}}
    </td>

    <!--    <td>-->
    <!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openTypeFournisseur();getItemsAcceptees()">-->
    <!--        <mat-icon class="icon btn-outline-primary" >bookmark_border</mat-icon>-->
    <!--      </button>-->
    <!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
    <!--        <mat-icon class=" btn-outline-danger" (click)="archiver(e);update(e)">delete_outline</mat-icon>-->
    <!--      </button>-->
    <!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
    <!--        <mat-icon class="btn-outline-success" (click)="openDialog2()">description</mat-icon>-->
    <!--      </button>-->
    <!--    </td>-->
  </tr>
  </tbody>
<!--  <tfoot>    <button mat-raised-button color="warn" >ok</button>-->
<!--  </tfoot>-->
</table>
