<!--
<mat-form-field appearance="fill" >
 <mat-label>Select an option</mat-label>
 <mat-select id="valeur" [(value)]="selected"  >
   <mat-option   [(ngModel)]="selected" value="{{c.type}}" *ngFor="let c of typesfournisseur" (change)="getFournisseursByType(selected)">{{c.type}}</mat-option>
 </mat-select>
</mat-form-field>

<p>You selected: {{selected}}</p>

<div *ngFor="let c of typesfournisseur" >
<button mat-raised-button color="primary" style="width: 100%" (click)="getFournisseursByType(c.type);unhidden()">{{c.type}}</button>

 <mat-divider></mat-divider>-->


<div>
  <table class="table table-striped" id="table">
    <thead>
    <tr>
      <th>action</th>
      <th scope="col">Fournisseurs</th>
      <th scope="col">Adresses</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let f of fournisseurItems; index as i">
      <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked " (change)="fonction($event,f)">
      </td>
      <td>{{ f.fournisseur.nomFournisseur}}</td>
      <td>{{ f.fournisseur.adresseFournisseur}}</td>
      <td> <i class="fas fa-map-marker-plus" style="color:mediumblue;cursor: pointer;display: inline-block;"
              (click)="openDialog();findFournisseurByRef(f.fournisseur.referenceFournisseur)"></i>
      </td>
    </tr>
    </tbody>

    <tfoot>

    <tr>
      <td>
        <i class="fa btn fa-solid  fa-user-plus" style="  color: red;" (click)="setInhidden('x')"></i>
        <i class="fa btn fa-solid fa-check" style="  color: #00a65a;" name="x" hidden
           (click)="addFournisseur(fournisseurItem)"></i></td>
      <td><input hidden="true" name="x" id="x" [(ngModel)]="fournisseurItem.fournisseur.nomFournisseur"
                 placeholder="Nom">
      </td>
      <td><input hidden="true" name="x" [(ngModel)]="fournisseurItem.fournisseur.emailFournisseur" placeholder="Email">
      </td>
      <td><input hidden="true" name="x" [(ngModel)]="fournisseurItem.fournisseur.faxFournisseur" placeholder="Fax">
      </td>   </tr><tr> <td><input hidden="true" name="x" [(ngModel)]="fournisseurItem.fournisseur.villeFournisseur" placeholder="Ville">
      </td>    <td><input hidden="true" name="x" [(ngModel)]="fournisseurItem.fournisseur.adresseFournisseur" placeholder="Adresse">
      </td>
      <td><input hidden="true" name="x" [(ngModel)]="fournisseurItem.fournisseur.telephoneFournisseur" placeholder="Tel">
      </td>
    </tr>
    <button mat-raised-button mat-dialog-close style="background-color: #f39c12">Retour</button>
    </tfoot>
  </table>
</div>
