
<!--
<mat-form-field appearance="fill" >
  <mat-label>Select an option</mat-label>
  <mat-select id="valeur" [(value)]="selected"  >
    <mat-option   [(ngModel)]="selected" value="{{c.type}}" *ngFor="let c of typesfournisseur" (change)="getFournisseursByType(selected)">{{c.type}}</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{selected}}</p>

<div *ngFor="let c of typesfournisseur" >
<button mat-raised-button color="primary" style="width: 100%" (click)="getFournisseursByType(c.type);unhidden()">{{c.type}}</button>

  <mat-divider></mat-divider>-->


<div *ngFor="let c of typesfournisseur" >
  <button mat-raised-button color="primary" style="width: 100%" (click)="getFournisseursByType(c.type);unhidden()">{{c.type}}</button>



<table class="table table-striped" id="table" hidden="true">
  <thead>
  <tr>
    <th></th>
    <th scope="col">Fournisseur</th>
    <th scope="col">Email</th>
    <th scope="col">type</th>
    <th scope="col">Ville</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let f of fournisseurs; index as i">
    <td>
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="fonction($event,f)">
    </td>
    <td>
      {{ f.nomFournisseur }}
    </td>
    <td>{{ f.emailFournisseur}}</td>
    <td>{{ f.typeFournisseur.type}}</td>
    <td>{{f.villeFournisseur}}
    </td>
  </tr>
  </tbody>
  <button mat-raised-button color="warn" (click)="saveTableauBesoinItem()">Envoyer</button>

</table>
</div>


