 <!--
<mat-form-field appearance="fill" >
  <mat-label>Select an option</mat-label>
  <mat-select id="valeur" [(value)]="selected"  >
    <mat-option   [(ngModel)]="selected" value="{{c.type}}" *ngFor="let c of typesfournisseur" (change)="getFournisseursByType(selected)">{{c.type}}</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{selected}}</p>

<div *ngFor="let c of typesfournisseur" >
<button mat-raised-button color="primary" style="width: 100%" (click)="getFournisseursByType(c.type);unhidden()">{{c.type}}</button>

  <mat-divider></mat-divider>-->


<div >
  <table class="table table-striped" id="table" *ngFor="let f of fournisseurItems; index as i">
    <thead>
    <tr>
      <th scope="col">Fournisseur</th>
      <th scope="col">Email</th>
      <th scope="col">Ville</th>
    </tr>
    </thead>
    <tbody>
    <tr >



      <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="fonction($event,f)">
        {{ f.fournisseur.nomFournisseur}}
      </td>
      <td>{{ f.fournisseur.emailFournisseur}}</td>
      <td>{{f.fournisseur.villeFournisseur}}
      </td>
    </tr>
    </tbody>
<!--    <button mat-raised-button color="warn" mat-dialog-close (click)="navigate('T')">ok</button>-->
  </table>
  <tfoot>    <button mat-raised-button color="warn" mat-dialog-close (click)="navigate('T')">ok</button>
  </tfoot>
</div>

<!--
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap"
      rel="stylesheet">

<div class="container">
  <div class="card"  *ngFor="let c of typesfournisseur">
    <figure class="card__thumb">
      <img src="https://source.unsplash.com/75S9fpDJVdo/300x510" alt="Picture by Kyle Cottrell" class="card__image">
      <figcaption class="card__caption">
        <h2 class="card__title">{{c.type}}</h2>
        <p class="card__snippet">NASA released a list of 219 new “planet candidates” discovered by the Kepler space
          telescope, 10 of which are similar to Earth’s size and may be habitable by other life forms.</p>
        <a href="" class="card__button">Read more</a>
      </figcaption>
    </figure>
  </div>


</div>
-->
