<div *ngFor="let t of tableauBesoins">
<h6> {{t.reference}}</h6>
  <table class="table table-striped" >
    <thead>
    <tr >
      <th scope="col">fournisseur</th>

      <th scope="col">ttc</th>
<th></th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let t of tableauBesoinItems" >
      <td>{{t.fournisseur.nomFournisseur}}</td>
      <td>{{t.ttc}}  </td>
      <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="fonction($event,t)"></td>
      <td>
      </td>
    </tr>
    </tbody>
    <tfoot><button class="btn-warning" (click)="setReponsesSeletcionnees()">ok</button></tfoot>
  </table>
  <mat-divider></mat-divider>
</div>
