<mat-list *ngFor="let t of tableauBesoins">
  {{findTableauBesoinItemsByTableauBesoinRef(t.reference)}}
  <mat-list-item>{{t.reference}}</mat-list-item>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ttc</th>
      <th scope="col">fournisseur</th>
<th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of tableauBesoinItems">
      <td>
{{x.ttc}}
      </td>
      <td>{{x.fournisseur.nomFournisseur}}</td>
      <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></td>
      <td>
      </td>
    </tr>
    </tbody>
  </table>
  <mat-divider></mat-divider>
</mat-list>
