<ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
  <li [ngbNavItem]="1" [destroyOnHide]="true">
    <a ngbNavLink>En attent</a>
    <ng-template ngbNavContent>


      <app-en-attente></app-en-attente>

    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>En cours</a>
    <ng-template ngbNavContent>


      <app-en-cours></app-en-cours>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Archivées</a>
    <ng-template ngbNavContent let-active>
      <app-archivee></app-archivee>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Items</a>
    <ng-template ngbNavContent let-active>
      <app-expression-besoin-item></app-expression-besoin-item>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

