
<!--&lt;!&ndash;<div class="d-flex">&ndash;&gt;-->
<!--&lt;!&ndash;  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">&ndash;&gt;-->
<!--&lt;!&ndash;    <li ngbNavItem="top">&ndash;&gt;-->
<!--&lt;!&ndash;      <a ngbNavLink>Demande En Attente</a>&ndash;&gt;-->
<!--&lt;!&ndash;      <ng-template ngbNavContent >&ndash;&gt;-->
<!--&lt;!&ndash;       <app-en-attente></app-en-attente>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li ngbNavItem="middle">&ndash;&gt;-->
<!--&lt;!&ndash;      <a ngbNavLink>En Cours</a>&ndash;&gt;-->
<!--&lt;!&ndash;      <ng-template ngbNavContent>&ndash;&gt;-->
<!--&lt;!&ndash;        <app-en-cours></app-en-cours>&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->

<!--&lt;!&ndash;  </ul>&ndash;&gt;-->

<!--&lt;!&ndash;  <div [ngbNavOutlet]="nav" class="col-lg"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">-->
<!--  <div class="logo-container">-->
<!--    <button class="logo">A</button>-->
<!--    <div class="logo-text" *ngIf="collapsed">Angular</div>-->
<!--    <button class="btn-class" *ngIf="collapsed">-->
<!--    <i class="fal fa-times close-icon"></i></button>-->
<!--  </div>-->
<!--<ul class="sidenav-nav">-->
<!--  <li class="sidenav-nav-item" *ngFor="let data of navData">-->
<!--    <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">-->
<!--      <i class="sidenav-link-icon" [class]="data.icon"></i>-->
<!--      <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>-->
<!--</div>-->
