<div class="d-flex">
  <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
    <li ngbNavItem="top">
      <a ngbNavLink>Demande En Attente</a>
      <ng-template ngbNavContent>
        <app-en-attente></app-en-attente>
      </ng-template>
    </li>
    <li ngbNavItem="middle">
      <a ngbNavLink>En Cours</a>
      <ng-template ngbNavContent>
        <app-en-cours></app-en-cours>
      </ng-template>
    </li>
    <li ngbNavItem="down">
      <a ngbNavLink>Archivée</a>
      <ng-template ngbNavContent>
        <app-archivee></app-archivee>
      </ng-template>
    </li>
    <li ngbNavItem="down2">
      <a ngbNavLink>Services</a>
      <ng-template ngbNavContent>
        <app-service></app-service>
      </ng-template>
    </li>

  </ul>

  <div [ngbNavOutlet]="nav" class="col-lg"></div>
</div>
<!--<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">-->
<!--  <div class="logo-container">-->
<!--    <button class="logo" (click)="toggleCollapse()">M</button>-->
<!--    <div class="logo-text" *ngIf="collapsed">Menu</div>-->
<!--    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">-->
<!--      <mat-icon></mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--&lt;!&ndash;<ul class="sidenav-nav">&ndash;&gt;-->
<!--&lt;!&ndash;  <li class="sidenav-nav-item" *ngFor="let data of navData">&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">&ndash;&gt;-->
<!--&lt;!&ndash;      <i class="sidenav-link-icon" [class]="data.icon"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;  </li>&ndash;&gt;-->
<!--      <mat-nav-list>-->
<!--        <a mat-list-item routerLink="Attente">demande En Attente</a>-->
<!--        <a mat-list-item routerLink="Cours">demande En Cours</a>-->
<!--        <a mat-list-item routerLink="D">demande En Attente de devi</a>-->
<!--        <a mat-list-item routerLink="L">demande En Attente de laivraison </a>-->
<!--        <a mat-list-item routerLink="P">demande En Attente de paiement </a>-->
<!--      </mat-nav-list>-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--</div>-->
