<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Designation</th>
    <th scope="col">Qte</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let e of expressionBesoinsItems; index as i">
    <td>
      {{ e.produit.libelle }}<br><input hidden="true" id="input-designation">
    </td>
    <td>{{ e.quantite}}<br><input hidden="true" id="input-qte" ></td>
    <td>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="setItemEnCours(e,'En cours')" >
        <mat-icon class="icon btn-outline-primary">bookmark_border</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"  (click)="setItemEnCours(e,'suprimée')">
        <mat-icon class=" btn-outline-danger" >delete_outline</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="setiputInhidden('input-designation');setiputInhidden('input-qte')">
        <mat-icon class="btn-outline-success" >description</mat-icon>

      </button>
    </td>

  </tr>

  </tbody>
  <button mat-dialog-close mat-raised-button color="warn">close</button>

</table>
