<!--
<mat-form-field appearance="fill" >
  <mat-label>Select an option</mat-label>
  <mat-select id="valeur" [(value)]="selected"  >
    <mat-option   [(ngModel)]="selected" value="{{c.type}}" *ngFor="let c of typesfournisseur" (change)="getFournisseursByType(selected)">{{c.type}}</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{selected}}</p>

<div *ngFor="let c of typesfournisseur" >
<button mat-raised-button color="primary" style="width: 100%" (click)="getFournisseursByType(c.type);unhidden()">{{c.type}}</button>

  <mat-divider></mat-divider>-->

<div class="row m-3">
  <div class="col-md-4" *ngFor="let c of typesfournisseur" >

    <button  class="button-86 " role="button" (click)="getFournisseursByType(c);openFournisseur()" >{{c.type}}</button>

  </div></div>


<button mat-raised-button mat-dialog-close style=" margin-bottom:300px; margin-left:30px;  background-color: #f39c12" (click)="saveTableauBesoinsItems();navigate('T')">Prochain</button>
