<div class="col-md-9 container">
  <div class="card-body">
    <table class="table table-hover table-striped ">
      <thead>
      <th>Nom</th>
      <th>Service</th>
      <th>objet</th>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>

        <td>

          <div>
            <button mat-icon-button>
              <mat-icon>valider</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon>archiverp</mat-icon>
            </button>

          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer"></div>

</div>

