<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Objet</th>
    <th scope="col">Service</th>
    <th scope="col">Statut</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let e of expressionBesoins2; index as i">
    <td>
      {{ e.user.username }}
    </td>   <td>
      {{ e.user.serviceDemandeur }}
    </td>
    <td>{{ e.objet  }}</td>
    <td>{{ e.statut }}</td>
    <td>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="icon btn-outline-primary" (click)="save(e)">bookmark_border</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class=" btn-outline-danger" (click)="archiver(e)">delete_outline</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="btn-outline-success"(click)="openDialog()">description</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
