<body>
<!--<div class="area"></div>-->
<nav class="main-menu">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="statistiques">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
                            Acceuil
                        </span>
      </a>

    </li>
    <li class="has-subnav " routerLinkActive="active">
      <a routerLink="en-attente">
        <i class="fa fa-pause fa-2x"></i>
        <span class="nav-text">
                            Demandes en Attente
                        </span>
      </a>

    </li>
    <li class="has-subnav" routerLinkActive="active">
      <a routerLink="en-cours">
        <i class="fa fa-spinner fa-2x"></i>
        <span class="nav-text">
                             Demandes en Cours
                        </span>
      </a>

    </li>
    <li class="has-subnav" routerLinkActive="active">
      <a routerLink="devis">
        <i class="fa fa-handshake-o fa-2x"></i>
        <span class="nav-text">
                             Demandes en Attente de Devis
                        </span>
      </a>

    </li>
    <li routerLinkActive="active">
      <a routerLink="livraison">
        <i class="fa fa-paper-plane-o fa-2x"></i>
        <span class="nav-text">
                             Demandes en Attente de Livraison
                        </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="paiement">
        <i class="fa fa-money fa-2x"></i>
        <span class="nav-text">
                           Demandes en Attente de Paiement
                        </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="virement">
        <i class="fa fa-credit-card-alt fa-2x"></i>
        <span class="nav-text">
                                                       Demandes en Attente de Virement
                        </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="terminee">
        <i class="fa fa-check fa-2x"></i>
        <span class="nav-text">
                            Demandes terminees
                        </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="archivee">
        <i class="fa fa-archive fa-2x"></i>
        <span class="nav-text">
                            Demandes Archivés
                        </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="tf">
        <i class="fa fa-archive fa-2x"></i>
        <span class="nav-text">
                           Fournisseurs
                        </span>
      </a>
    </li>
  </ul>

  <!--  <ul class="logout">-->
  <!--    <li>-->
  <!--      <a href="#">-->
  <!--        <i class="fa fa-power-off fa-2x"></i>-->
  <!--        <span class="nav-text">-->
  <!--                            Logout-->
  <!--                        </span>-->
  <!--      </a>-->
  <!--    </li>-->
  <!--  </ul>-->
</nav>
</body>
