<!--<div class="area"></div>-->
<nav class="main-menu">

  <ul>
    <li routerLinkActive="active">
      <a routerLink="statistiques">
        <i class="fa fa-chart-line fa-3x"></i>        <span class="nav-text">
                            Statistiques
                        </span>
      </a>

    </li>
    <li class="has-subnav " routerLinkActive="active">
      <a routerLink="en-attente">
        <i class="fa fa-pause fa-2x"></i>
        <span class="nav-text">
                            Demandes en attente
                        </span>
      </a>

    </li>
    <li class="has-subnav" routerLinkActive="active">
      <a routerLink="en-cours">
        <i class="fa fa-spinner fa-2x"></i>
        <span class="nav-text">
                             Demandes en cours
                        </span>
      </a>

    </li>
    <li class="has-subnav" routerLinkActive="active">
      <a routerLink="items">
        <i class="fa fa-check "></i>        <span class="nav-text">
                            Désignations accéptées
                        </span>
      </a>

    </li>
    <li class="has-subnav" routerLinkActive="active">
      <a routerLink="itemsSuprimees">
        <i class="fa fa-minus-circle"></i>        <span class="nav-text">
                            Déignations refusées
                        </span>
      </a>

    </li>
    <li routerLinkActive="active">
      <a routerLink="tf">
        <i class="fa fa-users"></i>        <span class="nav-text">
                           Fournisseurs
                        </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="T">
        <i class="fa fa-archive fa-2x"></i>
        <span class="nav-text">
                           Tableaux des besoins
                        </span>
      </a>
    </li>
    <li class="has-subnav" routerLinkActive="active">
      <a routerLink="devis">
        <i class="fa fa-handshake-o fa-2x"></i>
        <span class="nav-text">
                             Demandes en attente des devis
                        </span>
      </a>

    </li>

    <li routerLinkActive="active">
      <a routerLink="reponse">
        <i class="fa fa-bell"></i>        <span class="nav-text">
                          Réception des devis
                        </span>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="livraison">
        <i class="fa fa-paper-plane-o fa-2x"></i>
        <span class="nav-text">
                             Demandes en attente de livraison
                        </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="paiement">
        <i class="fa fa-money fa-2x"></i>
        <span class="nav-text">
                           Demandes en attente de paiement
                        </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="virement">
        <i class="fa fa-credit-card-alt fa-2x"></i>
        <span class="nav-text">
                                                       Demandes en attente de virement
                        </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="terminee">
        <i class="fa fa-check fa-2x"></i>
        <span class="nav-text">
                            Demandes terminées
                        </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="archivee">
        <i class="fa fa-calendar-times"></i>        <span class="nav-text">
                            Demandes Archivées
                        </span>
      </a>
    </li>


    <li routerLinkActive="active">
      <a routerLink="reponse">
        <i class="fa fa-list-alt"></i>        <span class="nav-text">
                          les Réponses des fournisseurs
                        </span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="cmd">
        <i class="fa fa-table"></i>        <span class="nav-text">
                       Les bons des commandes
                        </span>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="demandes traitees">
        <i class="fa fa-calendar-check"></i>        <span class="nav-text">
                     Demandes traitées
                        </span>
      </a>
    </li>


  </ul>
  <!--  <ul class="logout">-->
  <!--    <li>-->
  <!--      <a href="#">-->
  <!--        <i class="fa fa-power-off fa-2x"></i>-->
  <!--        <span class="nav-text">-->
  <!--                            Logout-->
  <!--                        </span>-->
  <!--      </a>-->
  <!--    </li>-->
  <!--  </ul>-->
</nav>
