<table class="table table-striped" >
  <thead>
  <tr>
    <th scope="col">Désignations</th>
    <th scope="col">Quantités</th>
    <th scope="col">PU</th>
    <th scope="col">PT</th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let i of itemsEnCours">
    <td>{{i.libelle}}</td>
    <td>{{i.quantite}}</td>
    <td><input disabled></td>
    <td><input disabled></td>
<!--    <td><input [(ngModel)]="i.pu"></td>-->
  </tr>

  <tr>
    <td>MT TVA</td>
    <td><input disabled></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>MT TTC</td>
    <td><input disabled></td>
    <td></td>
    <td></td>
  </tr>

  </tbody>

</table>
  <button mat-raised-button mat-dialog-close style=" width: 100px;  background-color: #f39c12" (click)="saveTableauBesoin(itemsEnCours)">Confirmer</button>
  <button mat-raised-button mat-dialog-close style="width: 100px;margin-left: 10px;   background-color: #f39c12" (click)="sendEmail()">Envoyer</button>

