<div class="row">
  <div class="col">
<div class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color" style="width: 300px;height: 300px;margin-top: 150px;margin-left: 400px;background-color: whitesmoke;color: #0f1041" (click)="navigate('login')">
<h3 style="margin-top: 120px;margin-left: 8px" >Espace administrateur</h3>
</div></div>
  <div class="col-md-5">

  <div class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color" style="width: 300px;height: 300px;margin-top: 150px;background-color: whitesmoke;color: #0f1041" (click)="navigate('loginDemandeur')">
    <h3 style="margin-top: 120px;margin-left: 20px">Espace demandeur</h3>
  </div></div>
</div>
